<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alex.vkmutualgroups">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".VKMutualGroupsApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.alex.vkmutualgroups.LoadingFriendsListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.alex.vkmutualgroups.UserGroupListActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.alex.vkmutualgroups.LoadingFriendsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alex.vkmutualgroups.LoadingFriendsListActivity" />
        </activity>

        <activity android:name="com.alex.vkmutualgroups.GroupsListActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.alex.vkmutualgroups.LoadingFriendsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alex.vkmutualgroups.LoadingFriendsListActivity" />
        </activity>

        <activity android:name="com.alex.vkmutualgroups.FriendsListActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.alex.vkmutualgroups.LoadingFriendsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alex.vkmutualgroups.LoadingFriendsListActivity" />
        </activity>
    </application>

</manifest>